#Week 3 Exercise: Data Types and Variables

##1. Create a variable age and assign it the value 25.

In [1]:
age = 25
print(age)

25

##2. Create a variable name and assign it a string containing your name.

In [2]:
name = "Addy"
print(name)

Addy

##3. Print the type of the variable age.

In [5]:
age = 32
type(age)
print(type(age))

<class 'int'>

##4. Convert the variable age to a string and store it in a new variable age_str.

In [6]:
age = (25,54,62,32)
age_str = str(age)
print(age_str)

(25, 54, 62, 32)

##5. Create a variable height and assign it the value 175.5 (floating-point number).

In [8]:
height = float(175.5)
print(height)

175.5

##6. Print the type of the variable height.

In [9]:
height = float(175.5)
print(type(height))

<class 'float'>

##7. Create a variable is_student and assign it a boolean value representing whether you are a student or not.

In [21]:
is_student = input("If you are a student, enter True or False ")
is_student = is_student.lower()

if is_student == "true":
  print("You are a student")
else:
  print("You are not a student")

If you are a student, enter True or False truE
You are a student

##8. Print the type of the variable is_student.

In [22]:
type(is_student)
print(type(is_student))

<class 'str'>

##9. Create a list colors containing the names of three colors.  &&  
##10. Print the second element of the list colors

In [23]:
colors = ["White", "Black", "Grey"]
print(colors[1])

Black

## 11. Create a tuple dimensions containing the length, width, and height of a box.   &
## 12. Print the third element of the tuple dimensions.

In [27]:
box = [15, 25, 65]

print(box[2])

65

##13. Create a dictionary person with keys "name", "age", and "city", and assign appropriate values.
##14. Print the value associated with the key "age" in the dictionary person

In [33]:
person = {
    "Name" : ("Eenie", "Mynie", "Minie", "Mo"),
    "Age" : (14, 15, 16 , 17),
    "City" : ("leeds", "Dublin", "Cork", "Waterford")
}

print(person["Age"])

(14, 15, 16, 17)

##15. Create a set unique_numbers containing three unique integers.
##16. Add a new integer to the set unique_numbers.

In [35]:
unique_numbers = [1, 2, 3]
unique_numbers.append(4)
print(unique_numbers)

[1, 2, 3, 4]

##17. Create a variable x and assign it the value 10.
##18. Increment the value of x by 5.
##19. Create a variable y and assign it the value of x squared.
##20. Swap the values of variables x and y.

In [36]:
x = 10
x = x + 5

y = x ** 2
x, y = y, x

print(x,y)

225 15